/* ==========================================================================
   Night theme skin
   ========================================================================== */

/* Colors */
$base-color: #002046 !default;
$text-color: #FF4D00 !default;
$accent-color: #f8f306 !default;
$background-color: #002652 !default;
$code-background-color: #002046 !default;
$border-color: rgba(#ff4d00,0.5) !default;
$overlay-color: #FF4D00 !default;

$serif: DFKai-SB,Kai,Kaiti SC,KaiTi,BiauKai,\\6977\4F53,\\6977\4F53_GB2312,Songti SC,Georgia, Times, serif !default;
$sans-serif: "Helvetica Neue",YouYuan,\\5E7C\5706,幼圆,"Segoe UI",-apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI","Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
